html {
  position: relative;
  min-height: 100%;
  font-size: 14px
}

@media(min-width: 768px) {
  html {
    font-size: 16px
  }
}

.button.is-left {
  float: left;
}

.button.is-right {
  float: right;
}

.button, .is-grid-item, .input, input, .datetimepicker-dummy, .textarea, .pagination button, .action-buttons i, .menu-button {
  border-radius: 8px;
}

.menu-button {
  background-color: midnightblue;
  border-color: black;
  height: 78px;
  /*margin: -0.75em 0 -0.75em 0;*/
  font-size: 1.2em;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.menu-button i::before {
  opacity: 1 !important;
}

.menu-button:hover, .menu-button.is-hovered {
  border-color: #b5b5b5;
  background-color: royalblue;
  color: midnightblue;
  font-weight: bolder;
}

.page-title {
  padding: 5px 5px 5px 15px;
  border-bottom: 2px solid midnightblue !important;
  border-radius: 0;
}

.is-light-header {
  background-color: #add8e659 !important;
  color: midnightblue !important;
  font-weight: bolder;
}

.number-button, .clear-button, .plus-button, .minus-button {
  width: 130px;
  height: 130px;
}

.equals-button {
  width: 130px;
  height: 260px;
}

.is-royal-blue, .clear-button {
  color: royalblue !important;
}