@model Calculator.WebApp.Features.Calculator.CalculatorViewModel
<div class="notification is-light-header page-title">
    <h1 class="title has-text-right" id="ActiveValue">@($"{Model.ActiveValue:N}")</h1>
    <h1 class="title has-text-right" id="ResultValue">@($"{Model.ResultValue:N}")</h1>
</div>
