@model Calculator.WebApp.Features.Calculator.CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
}

<div id="CalculatorButtons">
    <h1 class="display-4">Calculator</h1>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <partial model="Model" name="_CalculatorResult"/>
            <div class="columns buttons are-large has-text-centered" id="digits">
                @foreach (var number in Model.Digits)
                {
                    <div id="numberDisplay-@number" class="column is-info is-responsive is-one-third">
                        <p class="button number-button"
                           hx-get="@Url.Action("InputNumber", "Calculator")/@number"
                           hx-trigger="click">
                            &nbsp;&nbsp;&nbsp;@number&nbsp;&nbsp;&nbsp;
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>