@{
    ViewData["Title"] = "Calculator";
    var numbers = App.Calculator.Digits;
}

<div id="CalculatorButtons">
    <h1 class="display-4">Calculator</h1>
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="columns buttons are-large has-text-centered" id="digits">
                @foreach (var number in numbers)
                {
                    <div id="numberDisplay-@number" class="column is-info is-responsive is-one-third">
                        <p class="button number-button">&nbsp;&nbsp;&nbsp;@number&nbsp;&nbsp;&nbsp;</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>