<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.plus.css" asp-append-version="true" />
</head>
<body hx-ext="morph" class="hero is-fullheight">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-fixed-top p-0 mx-0 my-0 is-align-content-center is-justify-content-center" id="navBar">
        <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navbar-item" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a class="navbar-item" asp-controller="Calculator" asp-action="Index"><i class="fa fa-solid fa-calculator"></i>&nbsp;Calculator</a>
    </div>
</nav>
<div class="container is-fluid">
    <main role="main" class="pb-3">
        <div class="notification is-light-header page-title">
            <h1 class="title">@ViewData["Title"]</h1>
        </div>
        <div class="ml-3">
            @RenderBody()
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="content has-text-centered is-small">
        <p class="love">Made with <i class="fas fa-heart fa-lg is-royal-blue"></i> in Sint-Kruis-Winkel by Edwin Bekaert</p>
        <p>&copy; 2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</footer>
<script src="/js/htmx.min.js"></script>
<script src="/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>